<div id="happyPanel" class="panel panel-default">
  <div id="happyPanelBody" class="panel-body">

  </div>
</div>

<%= link_to 'Pearl of Wisdom', happy_quote_path, class: 'btn btn-default', remote: true %>
<%= link_to 'Click for a Funny', happy_joke_path, class: 'btn btn-default', remote: true %>
